button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0;
  width: 200px;
  padding: 10px 0;
  /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.2); */
  transition: 0.4s;
}

.log {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

button:hover {
  color: white;
  width:;
  /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.6); */
  background-color: var(--primary-color);
}


