button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0;
  /* width: 200px; */
  padding: 10px 40px;
  /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.2); */
  transition: 0.4s;
  display: flex;
  align-items: center;
}

span {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  display: inline-block;
}

.log {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

button:hover {
  color: white;
  width:;
  /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.6); */
  background-color: var(--primary-color);
}


